*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
<<<<<<< HEAD
=======
    list-style-type: none;
>>>>>>> afa64fc (feitas as alterações após correção pelo devquest)
}