body{
    background: url('images/bg-desktop.svg') center center no-repeat;
    background-color: var(--cor-de-fundo);
    background-size: cover;

    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr; /* 1 coluna */
    grid-template-rows: auto auto auto; /* 3 linhas */
}

body .header {
   padding-top: 50px;
}

body .conteudo{
    display: flex;
    margin: 0 auto;
}

.conteudo .descricao{
    font-family: "Poppins", sans-serif;
    padding: 5vh 0 0 3vw; /* Posicionamento do <h1>, <p> e <a> */
}

.conteudo .descricao h1{
    text-align: left;
    font-weight: 600;
    text-transform: capitalize; /* A Primeira Letra Sempre Maiúscula */
    color: #FFF;
    font-size: 50px;
    margin-bottom: 5vh; /* distância do <h1> para o <p> */
}

.conteudo .descricao p{
    color: #FFF;
    text-align: left;  
    font-size: 20px;
    width: 100%;
    margin-bottom: 6vh;
}

.conteudo .descricao .btn-registro{
    color: var(--cor-de-fundo);
    background-color: #FFF;
    border-radius: 50px;
    font-size: 18px;
    padding: 15px 60px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3); /* SOMBRA: desloca p/ direita, p/ baixo, borrado, cor */
}

.conteudo .descricao .btn-registro:hover{
    background-color: var(--cor-de-hover);
    color: #FFF;
    transition: 0.3s;
}

footer ul{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.circulo-icone{
  display: grid;
  place-items: center; /* centralizar os ícones nos círculos */

  width: 50px; /* largura do círculo */
  height: 50px; /* altura do círculo */
  border: 1px solid #FFF;
  border-radius: 50%;
  color: #FFF;

  font-size: 20px; /* tamanho do símbolo (ícone) */
  line-height: 1; /* evita problema com a altura da linha */
  transition: 0.3s; /* efeito menos duro */
}

.circulo-icone:hover{
    color: var(--cor-de-hover); /* muda a cor do ícone */
    border-color: var(--cor-de-hover); /* muda a cor da borda */
}
